.contact {
  @extend %inner-container;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 58px;
  padding-bottom: 58px;

  background-color: $bg-contact-form;
  border-bottom: 1px solid $bg-line;
}
.contact-form {
  margin-top: 62px;
}
.input-wrapper {
  text-decoration: none;
}
.input-name {
  margin-right: 20px;
}
.input-name::placeholder,
.input-email::placeholder,
.input-textarea::placeholder {
  font-size: 16px;
  line-height: 0.8;
  color: rgba(101, 101, 101, 0.74);
}
.input-name,
.input-email {
  padding: 0px 30px 0px 30px;

  width: 280px;
  height: 45px;

  background: $primary-white-color;
  box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
  border-radius: 3px;
  border-color: transparent;
  color: rgba(101, 101, 101, 0.74);
}
.input-textarea {
  margin-top: 17px;

  padding: 21px 30px;

  width: 583px;
  height: 110px;

  resize: none;
  background: $primary-white-color;
  box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
  border-radius: 3px;
  border-color: transparent;
  color: rgba(101, 101, 101, 0.74);
}
.contact-form__btn {
  display: block;

  margin-top: 17px;

  width: 583px;
  height: 45px;

  font-size: 16px;
  line-height: 0.76;
  background-color: $btn-color;
  border-radius: 4px;

  color: $primary-white-color;
}