.header {
  @extend %inner-container;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 30px;

  background-color: $aside-bg-color;
}
.logo {
  display: inline-block;
  margin-top: 205px;

  text-decoration: none;
  font-size: 30px;
  line-height: 1.2;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: $primary-link-color;
}
.site-nav-list {
  @extend %list;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 80px;
}
.site-nav-list__item:not(:first-child) {
  margin-top: 40px;
}
.site-nav-list__link {
  font-size: 14px;
  line-height: 0.7;

  text-align: center;
  text-transform: uppercase;

  text-decoration: none;
  text-transform: uppercase;

  color: $primary-white-color;
}
.current-link {
  color: $primary-link-color;
}
.nav-social-list {
  @extend %list;

  display: flex;

  margin-top: auto;
  .icon {
    width: 23px;
    height: 17px;
  }
}