.page-header__logo {
  margin-right: 93px;

  color: $header-logo-color;

  text-decoration: none;
  font-family: $secondary-font, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  @media screen and (max-width: 767px) {
    padding: 15px 0px 15px 0px;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 88px;
  }
}
.logo--color {
  color: $accent-color;
}
