%list {
  margin: 0;
  padding: 0;

  list-style: none;
}
%link {
  text-decoration: none;
}
%section {
  padding-top: 63px;;
}
%container {

  margin-left: auto;
  margin-right: auto;
}
%inner-container {
  padding-left: 85px;
  padding-right: 85px;
}