$main-font: "Roboto";
$secondary-font: "Raleway";
$primary-text-color: #212121;
$accent-color: #2196f3;
$hero-btn-color: #188ce8;
$description-color: #757575;
$primary-white-color: #ffffff;
$bg-footer-hero-color: #2f303a;
$header-logo-color: #000000;
$border-color: #ececec;
$filtr-button-color: #f5f4fa;
$bg-advantages-color: #f5f4fa;
$bg-team-color: #f5f4fa;
$social-link-color: #ffffff;
$team-link-color: #afb1b8;
$clients-color: #afb1b8;
$card-set-gap: 30px;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
